# dotnet build Dirs
bin/
obj/
artifacts/
.tmp/

# AutoCAD Files
*.dwl
*.dwl2
*.bak
*.log
/.tmp
/.vs/dxflibrary/v16

###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
